.parent--container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper{
    position: relative;

}

#grid{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
    border-top: 2px solid #343A40;

    -webkit-box-shadow: 1px 1px 5px 0px rgba(179,177,179,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(179,177,179,1);
    box-shadow: 1px 1px 5px 0px rgba(179,177,179,1);
}

.btn--active{
    background-color: #343A40 !important;
    color: #fff !important;
}

.--container{
    border: 1px solid black;
    margin: 5px;
}
.--scroll {
    max-height: 450px;
    overflow: auto;
}

#weather--image{
    width:40px;height:40px;
}

#canvas{
    border:1px solid #c3c3c3;
}
