html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.parent--container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align:middle;

    -webkit-box-shadow: 1px 1px 5px 0px rgba(179,177,179,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(179,177,179,1);
    box-shadow: 1px 1px 5px 0px rgba(179,177,179,1);
}

